body {
    font-family: 'Arial', sans-serif;
}


@media screen and (max-width: 768px) {

    .block-container > div {
        margin-bottom: 10px;
    }

    .element-container {
        padding: 0 !important;
    }

    .stMetric {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}